@import "base";
@import "../bourbon/bourbon";

body {		
	margin:0px;
	padding:0px;
	font-family: 'Roboto', sans-serif;
	background: #ececec;
	font-size:16px;
}

@media #{$phone} {	
	.row {
		margin-right: 0px;
		margin-left: 0px;
	}	

	.container-fluid > .navbar-header {
		margin-right: 0px;
	}
}

.container {
	// Navbar
	@import "nav";

	// Carousel
	@import "carousel";

	background: $body-bg;	
	padding: setSpacing(0);	
	max-width:1000px;

	// set header properties
	#{number('h',1,6)} {
		@extend %baseColor;		
		font: {
			weight:400;
			family:'Slabo 27px', serif;			
		}
	}
	a {
		 white-space: nowrap;
	}
	h2 { 
		text-transform: uppercase; 
	}

	.left {
		float:left;
	}
	.right {
		float:right;
	}

	// Header
	header {
		.logo {
			float:left;
			margin-right:38px;
			background:$white;

			@media #{$phone-sm} {
				float:none;
				margin:0px;
				text-align:center;				
			}
			img { 
				width:140px;
				box-shadow: 20px 0px 30px 20px $white;
				@include setBorderRadius(0 20px 20px 0);
				@media #{$phone} {
					margin-left:-15px;
				}
			}		
		}
		.banner {						
			@media #{$phone-sm} {
				display:none;
			}
			float:right;
			text-transform:uppercase;
			margin-top: 25px;
			h1 { 
				margin-right:28px;
				
				@media #{$phone} {
					margin-right:0px;
				}
				
				color:#eee;
				font: {
					family: 'Roboto', sans-serif;
					size: 25px;
					weight:100;
				}

				span {
					opacity: 0.3;
				}
			}

		}
		
		background: url('../images/bg.jpg') no-repeat;		
		background-size: cover;
		
		@media #{$phone-sm} {
			background:none;
		}
	}
	
	// Home banner
	.home-banner {
		position:relative;
		text-align:center;
		img {
			max-width:100%;
			
		}
		.home-banner-content {
			position:absolute;			
			padding:20px;
			bottom:10px;			
			h1 {
				color:#fff;
				margin-bottom:20px;
				font-size:17px;
				line-height:22px;
				padding: 0 20px;
				font-family: 'Roboto', sans-serif;
				font-weight:100;
			}
			a {			
				font-size: 15px;
			}
			
			@media #{$phone-sm} { 
				bottom:0px;	
				h1 {
					font-size:14px;
					line-height:17px;
					padding: 0 0px;
					margin-bottom:10px;	
					font-weight:400;
				}
			}
			@media #{$tablet-sm} {
				bottom:30px;	
				h1 {
					margin-bottom:40px;
					font-size:20px;
					line-height:25px;
					padding: 0 20px;
				}
			}
			@media #{$tablet} {
				bottom:40px;	
				h1 {
					margin-bottom:60px;
					font-size:20px;
					line-height:25px;
					padding: 0 50px;
				}
			}
			
			@media #{$desktop} {
				padding:50px;
				bottom:50px;
				h1 {
					margin-bottom:55px;
					font-size:25px;
					line-height:35px;
					padding: 0 100px;
				}			
			}
			
		}
	}

	// main section
	.main {
		@media #{$phone} {
			padding: setSpacing(20) setSpacing(0);
		}
		@media #{$tablet} {
			padding: setSpacing(20);
		}
		@media #{$desktop} {
			padding: setSpacing(20) setSpacing(80) setSpacing(50);
		}

		line-height: 1.8em;
		
		hr {
		    height: 10px;
		    border-top: 1px solid darken($gray-lighter,10%);
			width: 70%;
			&:last-child {
				display:none;
			}
		}
		blockquote {
			font-style: italic;
		}
		.brand {
			/*@extend %brandFont;*/
		}
		.date {
			color: #aaa;
		}
		.top {
			float:right;
			font-size: 16px;
			a {
				&:hover {
					text-decoration:none;
				}
			}
		}

		// Our Projects
		&.page-india-partners {
			#map_wrapper {
		    	height: 400px;
		    	width:auto;
		    	margin: 0 auto;
				a:after {
					content: ' >';
				}
			}

			@media #{$tablet} {
				#map_wrapper {
		    		width:100%;
		    	}
			}

			#map_canvas {
			    width: 100%;
			    height: 100%;
			}

			.project-info {
				padding: 20px 0px;
				
				&:last-child {
					border-bottom: none;
				}
				#{number('h',1,6)} {
					text-transform: none;
				}
				a {
					margin-right: 10px;
				}
			}
			
			.videoWrapper {
				position: relative;
				padding-top: 25px;
				padding-bottom: 56.25%; /* 16:9 */
				height: 0;
			}
			.videoWrapper iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			@media #{$tablet} {
				.videoWrapper {
					padding-bottom: 28.12%; /* 16:9 */
				}
				.videoWrapper iframe {
					width: 50%;
				}
			}
		}
		// Gallery
		&.page-gallery {
			padding-top:50px;
			img {
				max-width:100%;
				height:550px;
				margin: 10px auto 3px auto;				
				
				@media #{$phone-sm} { 
					height:250px;
				}
				
			}
			figcaption {
				padding:10px;
			}
			.slick-prev {
			    left: -35px;
			}
			.slick-prev:before, .slick-next:before{
				font-size: 30px; 
			}
		}
		// Blog
		&.page-blog {
			h3 {
				color:$orange;
			}
			h4 {
				color:$gray;
				font-weight:bold;
			}
			img {
				margin-bottom: 20px;
				@media #{$tablet-sm} {
					width:200px;
					&.left {
						margin-right: 20px;
					}
					&.right {
						margin-left: 20px;
					}
				}
			}
			a:after { 
				content: ' >';
			}
			.post {
				overflow: auto;
				margin-bottom: 30px;
			}
		}
		// FAqs
		&.page-faq {
			ol {		
				padding: setSpacing(20);	
				color: $brand-primary;			
				a { 
					font-size: $font-size-h4;
					font-weight:300;
				}
			}

			h3 {
				padding-bottom: setSpacing(10);
				margin-top: setSpacing(30);
				border-bottom: 1px solid $brand-primary;
			}
		}		
	}
}

footer {			
	background: $brand-primary;
	padding-top: setSpacing(10);
	margin-top:30px;
	color:$gray-lighter;
	text-align: center;
	font-size: $font-size-small;
}