@import "base";
@import "../bourbon/bourbon";

body {		
	margin:0px;
	padding:0px;
	font-family: 'Roboto', sans-serif;
}

@media #{$phone} {	
	.row {
		margin-right: 0px;
		margin-left: 0px;
	}	

	.container-fluid > .navbar-header {
		margin-right: 0px;
	}
}

.container {
	background: $body-bg;
	/*box-shadow: 0px 0px 40px #222;*/
	padding: setSpacing(0);
	
	width:100%;
	// set header properties
	#{number('h',1,6)} {
		@extend %baseColor;		
		font: {
			weight:400;
			family:'Slabo 27px', serif;
		}
	}
	a {
		 white-space: nowrap;
	}
	h2 { 
		text-transform: uppercase; 
	}

	.left {
		float:left;
	}
	.right {
		float:right;
	}
	// Header
	header {
		.logo {
			float:left;
			margin-right:38px;
			background:$white;

			@media #{$phone-sm} {
				float:none;
				margin:0px;
				text-align:center;				
			}
			img { 
				width:140px;
				box-shadow: 20px 0px 30px 20px $white;
				@include setBorderRadius(0 20px 20px 0);
				@media #{$phone} {
					margin-left:-15px;
				}
			}		
		}
		.banner {						
			@media #{$phone-sm} {
				display:none;
			}
			float:right;
			text-transform:uppercase;
			margin-top: 20px;
			h1 { 
				margin-right:28px;
				font-size:2.5vw;
				@media #{$phone} {
					font-size:4vw;
					margin-right:0px;
				}
				color:#ddd;
				font-family:Helvetica;
				font-weight:100;
				font-style:italic;
				span {
					font-style:normal;
				}
			}

		}
		
		background: url('../images/bg.jpg') no-repeat;		
		background-size: cover;
		
		@media #{$phone-sm} {
			background:none;
		}
	}

		
	// Navbar
	.navbar-default .navbar-nav > .active > {
		a,a:hover,a:focus {
			color: #ddd;
    		background: none;
		}
	}

	.navbar {
		margin-bottom: 0px;
		border-radius: 0px;
		text-transform: uppercase;
		border: none;	
		background: $brand-primary;
		min-height: 0px;
		.navbar-toggle {
			background-color: none;
			border: none;	
			.icon-bar {
		    	background-color: $nav-font-color;
			}
		}
		.navbar-brand {
			position:relative;
			padding: 6px 15px;
		}
		.nav > li {
			cursor: pointer;
			a {
				color:#ddd;
				padding: 10px 17px;
				@media #{$tablet-only} {
					padding: 10px 14px;
				}
				&:focus {
					background-color: transparent;
				}
			}
			&.current {
				background: $orange;
				a {
					color:$white;
				}
			}			
			@media #{$phone} {
				a:hover {
					font-weight:normal;
					color:$orange;
				}
				&.current {
					border: none;
					font-weight:900;
					background: none;
					a {
						color:$orange;
					}
				}
			}
			@media #{$tablet} {
				&:hover {
					background: $orange;
					a { 
						color:$nav-font-color;
						&:hover {
							color:$white;
						}
					}
				}
			}
		}
		
		.navbar-right {
			display: inline-flex;
			&.nav > li {
				&:hover {
					border-bottom: none;
					background: none;
				}
				> a {
					padding: 0px 10px;
					&:hover {
						font-weight:700;
					}
				}
			}
			text-transform: none;
		}

		.navbar-toggle {
			margin-right: 0px;
			&:hover, &:focus {
				background-color: transparent;
			}
		}

		[class*="fa"] {
			border-radius: 30px;
		    color: $white;
		    display: inline-block;
		    width: 25px;
		    height: 25px;
		    line-height: 25px;
		    text-align: center;
		    margin: 7px 5px 0px 5px;
		}
		[class*="fa fa-envelope"] {
		    background-color: $orange;
		    padding-right:1px;
		}

		[class*="fa fa-facebook"],
		[class*="fa fa-twitter"] {
		    background-color: $nav-font-color;
		    padding-top: 2px;		    
		    color:#4267b2;
		    
		    &:hover {
		    	color:$nav-font-color;
		    	background-color:$brand-primary;
		    }
		}
		[class*="fa fa-twitter"] {
			margin-right:20px;
		}
	}
		
	@media #{$tablet} {
		.navbar {
			.container-fluid {	
			    padding-left: 0px;
    			
				.navbar-collapse {
					margin:0px;
					padding:setSpacing(0);
				}
			}
		}
	}

	// Home page images
	.carousel-fade {
	    .carousel-inner {
	        .item {
	            transition-property: opacity;
	        }
	        
	        .item,
	        .active.left,
	        .active.right {
	            opacity: 0;
	        }

	        .active,
	        .next.left,
	        .prev.right {
	            opacity: 1;
	        }

	        .next,
	        .prev,
	        .active.left,
	        .active.right {
	            left: 0;
	            transform: translate3d(0, 0, 0);
	        }
	    }
	}

	.carousel, 
	.carousel-inner, 
	.carousel-inner .item {
		img {
			height: 550px;
			@media #{$phone} {
				height:350px;
			}
			@media #{$phone-sm} {
				height:280px;
			}
			width:100%;
		}
	}

	
	// main section
	.main {
		@media #{$phone} {
			padding: setSpacing(20) setSpacing(0);
		}
		@media #{$tablet} {
			padding: setSpacing(20);
		}
		@media #{$desktop} {
			padding: setSpacing(20) setSpacing(80) setSpacing(50);
		}

		line-height: 1.8em;
		
		hr {
		    height: 10px;
		    border-top: 1px solid darken($gray-lighter,10%);
			width: 70%;
			&:last-child {
				display:none;
			}
		}
		blockquote {
			font-style: italic;
		}
		.brand {
			/*@extend %brandFont;*/
		}
		.date {
			color: #aaa;
		}
		.top {
			float:right;
			font-size: 16px;
			a {
				&:hover {
					text-decoration:none;
				}
			}
		}
		// Our Projects
		&.page-our-projects {
			#map_wrapper {
		    	height: 400px;
		    	width:auto;
		    	margin: 0 auto;
				a:after {
					content: ' >';
				}
			}

			@media #{$tablet} {
				#map_wrapper {
		    		width:100%;
		    	}
			}

			#map_canvas {
			    width: 100%;
			    height: 100%;
			}

			.project-info {
				padding: 20px 0px;
				
				&:last-child {
					border-bottom: none;
				}
				#{number('h',1,6)} {
					text-transform: none;
				}
				a {
					margin-right: 10px;
				}
			}
			
			.videoWrapper {
				position: relative;
				padding-top: 25px;
				padding-bottom: 56.25%; /* 16:9 */
				height: 0;
			}
			.videoWrapper iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			@media #{$tablet} {
				.videoWrapper {
					padding-bottom: 28.12%; /* 16:9 */
				}
				.videoWrapper iframe {
					width: 50%;
				}
			}
		}
		// Gallery
		&.page-gallery {
			padding-top:50px;
			img {
				max-width:100%;
				height:550px;
				margin: 10px auto 3px auto;				
				border-radius:5px;
				@media #{$phone-sm} { 
					height:250px;
				}
				
			}
			figcaption {
				padding:10px;
			}
		}
		// Blog
		&.page-blog {
			h3 {
				color:$orange;
			}
			h4 {
				color:$gray;
				font-weight:bold;
			}
			img {
				margin-bottom: 20px;
				@media #{$tablet-sm} {
					width:200px;
					&.left {
						margin-right: 20px;
					}
					&.right {
						margin-left: 20px;
					}
				}
			}
			a:after { 
				content: ' >';
			}
			.post {
				overflow: auto;
				margin-bottom: 30px;
			}
		}
		// FAqs
		&.page-faq {
			ul {		
				padding: setSpacing(0);
				list-style: none;
				a { 
					font-size: $font-size-h4;
					font-weight:300;
				}
			}

			h3 {
				padding-bottom: setSpacing(10);
				margin-top: setSpacing(30);
				border-bottom: 1px solid $brand-primary;
			}
		}		
	}
}

footer {			
	background: $brand-primary;
	padding-top: setSpacing(10);
	margin-top:30px;
	color:$gray-lighter;
	text-align: center;
	font-size: $font-size-small;
}